@import url('https://fonts.googleapis.com/css?family=Spectral|Roboto:400,600,800|Alex+Brush');

* {
	box-sizing: border-box;
}

body {
	/*background-color: #eee;*/
	background-image: url(/assets/images/background.jpg)
	margin: 0;
}

.navcontainer {
	overflow: hidden;
	width: 100%;
	height: 80px;
	background-color: snow;
	position: fixed;
	top: 0;
	border-bottom: 2px solid #cccccc;
	z-index: 100;
}

.header {
	overflow: hidden;
	padding: 25px;
	float: left;
	font-family: Alex Brush;
	font-size: 54px;
	font-weight: 600;
	letter-spacing: .015em;
	background-color: #4aaaa5;
	color: white;
	text-align: center;
	position: fixed;
	top: 0;
	left: 16.5%;
}	

.wrapper {
	overflow: hidden;
	width: 960px;
	padding: 0px;
	margin: 170px auto;
	position: relative;
}

#menu {
	overflow: hidden;
	width: 30%;
	padding: 20px;
	float: right;
	margin-right: 230px;
}
	
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

li {
    float: left;
}

li a {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    color: #777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.about-me {
	/*overflow: hidden;*/
	width: 650px;
	float: left;
	height: auto;
	background-color: snow;
	color: #4aaaa5;
	padding: 20px;
	border: 2.0px solid #cccccc;
	margin-top: 0px;
}

#h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 36px;
	font-weight: 600;
	line-height: 1.8em;
	padding: 20px 0px 0px 0px;
}

#div-3 img {
	padding: 10px 20px 10px 0px;
	float: left;
	width: 200px;
	height: 200px;
}

p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	line-height: 1.45em;
	color: #777777;
	padding: 10px;
}

#aside {
	overflow: hidden;
	width: 270px;
	height: 300px;
	background-color: snow;
	float: right;
	padding: 20px;
	border: 1.0px solid #cccccc;
	clear: right;
	margin-top: 0px;
}

#h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.0em;
	padding: 30px 0px 32px 0px;
	color: #4aaaa5;
}

footer {
	width: 100%;
	padding: 30px;
	background: #666666;
	color: white;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
	border-top: 10px solid #45aaa5;
	position: fixed;
	z-index: 100;
	float: left;
	bottom: 0px;
}

.clear { 
	clear: both; 
}

.heighttext{
 float: left;
 height: 30px;
 width: 100%;
 }

.formtext {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 2.65em;
	font-size: 17px;
	letter-spacing: .015em;
	color: #777777;
}

input::-webkit-input-placeholder {
  color: rgb(211,211,211)
}

textarea::-webkit-input-placeholder {
  color: rgb(211,211,211)
}

.divimage-container {
	overflow: hidden;
	display: inline-block;
	margin: 40px 0px 40px 40px;
	margin-left: 40px;
	width: 250px;
	height: 250px;
	float: left;
	clear: right;
}

.divimage-container img {
	overflow: hidden;
	opacity: .5;
	border: 4px solid #000000;
}

.divimage-container:hover img {
	overflow: hidden;
	opacity: 1.0;
	border: 4px solid #000000;
}
.divimage-overlay {
	overflow: hidden;
	width: 250px;
	padding: 15px;
	background-color: #4aaaa5;
	border-top: 3px solid #000000;
	border-bottom: 3px solid #000000;
	color: snow;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 16px;
	text-align: center;
	float: left;
	position: relative;
	top:-140px;
}

.divimage-overlay:hover {
	background-color: #ffffff;
	color: #4aaaa5;
}
